@charset "utf-8";

body {
    font-family: sans-serif;
    width: 100%;
    background-color: #FFF;
    position: fixed;
}

.header {
    color: #222;
}

.footer {
    text-align: center;
    color: #222;
}

.title {
    text-align: center;
}

.hr1 {
    background-color: #88C;
}

.box1 {
    width: 40%;
    border: 4px double #DDD;
    margin: 2em 0;
    padding: 2em;
}

.position_index1 {
    padding-left: 35%;
}

@media screen and (max-width: 480px) {
    p {
        font-size: 12px;
    }
    .header {
        width: 90%;
        color: #222;
    }
    
    .footer {
        width: 96%;
        text-align: center;
        color: #222;
    }
    
    .title {
        width: 96%;
        text-align: center;
    }
    
    .hr1 {
        width: 98%;
        background-color: #88C;
    }

    .box1 {
        width: 80%;
        border: 4px double #DDD;
        margin: 2em 0;
        padding: 1em;
    }

    .position_index1 {
        padding-left: 5%;
    }
}